body {
    background-color: rgb(199, 199, 56);
    padding: 20px;
}

#funfont {
    font-family: Georgia, 'Times New Roman', Times, serif, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.head {
    display: inline-block;
    background: rgb(82, 44, 234);
    margin: 10px;
    border-radius: 8px;
}

.img {
    width: 200px;
}

#suggestion-box {
    display: inline-block;
    background-color: pink;
    margin-top: 20px;
    font-size: 18px;
    color: red;
}