h1 {color : rgb(4, 59, 4); font-size: x-large;}
p {color : navy; font-size: large;}
ol {color : rgb(185, 4, 4); font-size: large;}

html {background-color: gray;}

html {background-image: url('lego goatya.webp'); width: fit-content}

html { font-family: "Unica One", cursive;}
