html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-image: url('EldenRingEnviron.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 1, 29);
}

p {
  color: red
}

p {
  color: rgb(129, 0, 0)
}

img {
  width: 100px;
}

#prophet {
  width: 120px;
  text-align: center;
}

#prisoner {
  width: 120px;
}

#vagabond {
  width: 120px;
}

.textdiv {
  padding: 10px;
  text-align: center;
  flex: 1;
  border: 3px solid;

  background: rgb(0, 1, 29);
  border-radius: 12px;
}

.topzone {
  display: flex;
  gap: 75px;
  align-items: flex-end;
  justify-content: center;

  margin: 0 0 25px 0
}

.mainzone {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  justify-content: center;

  margin: 0 0 25px 0;
}

.topzone {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 30px;

  margin-top: 40px;
  flex-wrap: wrap;

}

img {
  cursor: pointer;
}

body {
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  text-align: center;
}

.topzone {
  display: none;

  justify-content: center;
  align-items: center;
  gap: 30px;

  margin-top: 40px;
  flex-wrap: wrap;
}

.topzone img {
  width: 250px;
  height: 350px;
  object-fit: cover;

  border-radius: 15px;
  border: 3px solid rgb(76, 5, 0);

  cursor: pointer;

  transition: transform 0.3s ease,
    box-shadow 0.3s ease;
}

.topzone img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgb(237, 0, 0);
}

#death-screen {
  margin-top: 200px;
}

#death-screen h1 {
  color: red;
  font-size: 100px;
  letter-spacing: 10px;
  text-shadow: 0px 0px 20px black;
}

#retry-button {
  padding: 15px 30px;
  font-size: 24px;

  background-color: black;
  color: white;

  border: 2px solid red;
  border-radius: 10px;

  cursor: pointer;
}