body {
   background-color: rgb(36, 86, 36);
}

html {
   font-family: 'Tecate', sans-serif;
}


#creature-form {
   background: #3bd503;
   padding: 30px;
   margin: 50px;
}


#creature-list {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   margin: 50px;
}


#creature-form DIV {
   margin-bottom: 10px;
}

#creature-list>DIV {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.creature-body {
   background: rgb(127, 63, 2);
   justify-content: center;
   align-items: center;
   display: flex;
   width: 100px;
   height: 100px;
}

.eye {
   height: 18px;
   width: 10px;
   border: 2px solid #000;
   border-radius: 10px;
   background: #fff;
}