.test-div {
    background: blue;
    padding: 20px;
    margin: 20px;
    color: rgb(255, 171, 14)
}

.my-flex {
    display: flex;
    background-color: rgb(3, 120, 28)
}

html {
    background-color: aquamarine;
}